@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Montserrat";
}

.slide-in-bar:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -7px;
  width: 0;
  height: 4px;
  background-color: #008bd1;
  transition: width 0.3s ease;
}

.slide-in-bar:hover:before {
  width: 100%;
}

/* .clip-image {
  clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0 100%);
} */
